[Unit]
Description=Quectel EG25 Modem
Before=ofono.service

[Service]
Type=simple
ExecStart=/usr/bin/eg25 start
ExecStop=/usr/bin/eg25 stop

[Install]
Alias=eg25.service
WantedBy=default.target
